@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

.markdown-source-viewbody {
    font-family:  'IM Fell English';
}
.markdown-preview-view {
    font-family: 'IM Fell English';
}
.markdown-preview-view h1 {
    font-family: 'IM Fell English';
}
.cm-s-obsidian .cm-header.cm-header-1, .cm-line, .inline-title {
    font-family: 'IM Fell English';
}
@media print {
    body {
        --background-color: #fff9f0 !important;
    }
    :is(.markdown-rendered .start) {
        padding-top: 20%;
    }
    :is(.markdown-preview-view, .markdown-rendered) {
       background: radial-gradient(ellipse at center, #fff9f0 60%, #f4e1c1 100%);
       padding-left: 20%;
       padding-right: 20%;
       height: 100vh;
       min-height: 100%;
    }
    
}